* {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #b6c5d8;
}
.navs {
  background: linear-gradient(90deg, #428387, #336876, #265166 100%);
  border-radius: 0px 0px 10px 10px;
}

.navs a,
.stick a {
  text-decoration: none;
  color: white;
}

.content {
  height: 100vh;
  background-color: #b6c5d8;
  position: relative;
}

.stick i {
  color: #ffffff;
  margin-top: 25px;
}

.ticks {
  height: 20px;
  margin-top: 30px;
  border-radius: 20px 20px;
  background-color: white;
}

.stick {
  height: 100px;
  position: absolute;
  top: 70px;
  background: linear-gradient(90deg, #428387, #336876, #265166 100%);
  border-radius: 10px 10px;
}

.stick .fa-circle-user {
  font-size: 50px;
}

.buttons {
  width: 150px;
  line-height: 60px;
  padding: 10px 8px;
  margin-bottom: 15px;
  background: linear-gradient(90deg, #428387, #336876, #265166 100%);
  border-radius: 10px 10px;
  text-align: center;
}

.button {
  width: 150px;
  height: 80px;
  background: linear-gradient(90deg, #428387, #336876, #265166 100%);
  text-align: center;
  border-radius: 10px 10px;
}
.buttons-img {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px 10px;
  text-align: center;
  background: linear-gradient(90deg, #428387, #336876, #265166 100%);
}

.footers {
  height: 100px;
  background: linear-gradient(90deg, #428387, #336876, #265166 100%);
  border-radius: 10px 10px;
}

.footers a,
.footers i {
  color: #ffffff;
  font-size: 17px;
}

.footers span {
  margin-top: 10px;
}

/* 2d */

.flesh-content {
  height: 530px;
  /* background-color: #b6c5d8; */
  position: relative;
}

.flesh-card {
  height: 100px;
  position: absolute;
  top: 70px;
  border-radius: 10px 10px;
}

.flesh-card span {
  font-size: 40px;
  color: #2a576c;
}

.flesh-card p {
  color: #2a576c;
}

.card {
  color: #2a576c;
  padding: 15px 0;
}

.results {
  text-align: center;
  color: #2a576c;
}

.results h1 {
  font-size: 100px;
}

.results p span {
  font-size: 18px;
}

.cards p {
  color: #ffffff;
}

.success {
  background-color: #2a576c;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #2a576c;
}

.footer {
  position: fixed;
  /* background-color: #2a576c; */
  bottom: -10px;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
